.square {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  margin: 0;
  padding: 8px;
  font-size: 30px;
}

.black {
  background-color: rgb(71, 29, 29);
}

.white {
  background-color: rgba(255, 255, 255, 0.5);
}

.piece-light {
  color: rgba(250, 241, 240, 0.986);
}

.piece-dark {
  color: black;
}
