.square {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  margin: 0;
  padding: 8px;
  font-size: 41px;
}

.black {
  background-color: rgba(82, 240, 232, 0.507);
}

.white {
  background-color: rgba(206, 205, 191, 0.527);
}

.piece-light {
  color: rgb(255, 255, 253);
  /* margin-bottom: 9px; */
}

.piece-dark {
  color: rgb(5, 7, 0);
}
