.square {
  height: 100%;
  min-width: 90px;
  width: 100%;
  margin: 0;
  padding: 8px;
  font-size: 55px;
}

.pointer {
  cursor: grab;
}

.pointer:hover {
  opacity: 0.9;
}

.pointer:active {
  cursor: grabbing;
}

.activeClass {
  background: beige;
}

.black {
  background-color: rgba(201, 129, 100, 0.959);
}

.white {
  background-color: #c0583ee8;
}

.piece-light {
  color: rgb(255, 255, 255);
}

.piece-light:hover {
  transform: scale(1.1);
}

.piece-dark {
  color: rgb(5, 7, 0);
}

.piece-dark:hover {
  transform: scale(1.1);
}
