* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://media1.thehungryjpeg.com/thumbs2/ori_112089_334a1bc9e07c0d4ba92514a0dffbf504325fdaf0_20-dark-wood-background-textures.jpg);
}

.app {
  text-align: start;
  display: flex;
  /* padding: auto; */
  /* justify-content: end; */
  /* align-items: end/; */
  /* background: rgb(65, 57, 51); */
}

.list {
  color: rgb(255, 255, 255);
  list-style: none;
  width: 10%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.individual {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-bottom: 2px;
}

.vertical {
  height: 100%;
}

.horizontal {
  display: flex;
}
